<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          <p>The Tech Blog</p>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>

</html>