<div class="posts">
  <h2>Edit Post</h2>
  <form>
    <input name="post-title" value="{{post.title}}" />
    <textarea>{{post.contents}}</textarea>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>