body {
  background-color: #e6e8e3;
}

.navbar {
  background-color: #b4c1a5;
}

.card {
  margin: 40px 40px 0 40px;
}

.card-header {
  background-color: #b4c1a5;
}

#posted-by {
  padding-left: 50%;
}

.btn-no-style {
  background-color: #b4c1a5;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
}

.new-post-form {
  margin: 40px 40px 0 40px;
}
